html {
  box-sizing: border-box;
  font-family: Quicksand;
  font-weight: 300;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

select {
  font-family: Quicksand;
  font-weight: 300;
  padding-left: 8px;
}

input {
  font-family: Quicksand !important;
  font-weight: 300 !important;
  text-align: center;
}

p {
  margin: 0;
}

#playStopButton {
  margin: 8px;
}

#oscillator {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  width: fit-content;
  background-color: rgb(240, 240, 240);
  margin: 8px;
  padding: 24px 24px 0 24px;
}

#oscillator > div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 24px;
}

.osc-param {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 8px;
}
